<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2"/>
		<httpRuntime targetFramework="4.7.2" maxRequestLength="2097152"/>
	</system.web>
	<connectionStrings>
		<add name="DbConStr" connectionString="Data Source=116.202.193.203,1232;Initial Catalog=WFS_ERP;User ID=wfsuser;Password=P@55w0rd@123$" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="RemoveASPX" enabled="true" stopProcessing="true">
					<match url="(.*)\.aspx" />
					<action type="Redirect" url="{R:1}" />
				</rule>
				<rule name="AddASPX" enabled="true">
					<match url=".*" negate="false" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{URL}" pattern="(.*)\.(.*)" negate="true" />
					</conditions>
					<action type="Rewrite" url="{R:0}.aspx" />
				</rule>
			</rules>
		</rewrite>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483648" />
			</requestFiltering>
		</security>
	</system.webServer>

</configuration>